.main-navigation {
	@apply font-semibold uppercase;
	ul.menu,
	ul.nav-menu,
	div.menu > ul {
		@apply flex flex-wrap space-x-5;
		.current_page_item {
			@apply text-primary-500;
		}
		> li {
			@apply relative hover:before:text-primary-500;
			> a {
				@apply block py-4 text-gray-500 hover:text-primary-500 hover:no-underline;
			}
			&:hover,
			&.focus {
				> ul {
					left: auto;
					display: block;
				}
			}
		}
		ul {
			left: -999em;
			@apply absolute top-full z-10 w-48 space-y-2 bg-white py-2 shadow-xl;
			li {
				@apply relative px-2;
				a {
					@apply text-black;
				}
				&:hover {
					> ul {
						@apply block;
					}
				}
			}
			ul {
				@apply absolute top-full top-0 left-full z-10 hidden w-48 space-y-2 bg-white py-2 shadow-xl;
			}
		}
	}
}
